* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

.main::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(./Assests/arrow.png) no-repeat;
    background-size: 5%;
    left: 100%;
    top: 48%;
    /* transform: rotate(90deg); */
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid whitesmoke;
    overflow: hidden;
    transition: all ease-in-out 5s;
    transform: rotate(90deg);
}

span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}

.s1 {
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;
}

.s2 {
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: orange;
}

.s3 {
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: red;
}

.s4 {
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: blue;
}

.s5 {
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: salmon;
}

.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.box1 .s1 h5 {
    position: absolute;
    top: 40%;
    right: 63%;
    font-size: x-large;
    transform: rotate(200deg);
    text-align: center;
}

.box1 .s2 h5 {
    position: absolute;
    top: 30%;
    right: 57%;
    font-size: x-large;
    transform: rotate(-130deg);
    text-align: center;
}

.box1 .s3 h5 {
    position: absolute;
    top: 14%;
    right: 38%;
    font-size: x-large;
    transform: rotate(-90deg);
    text-align: center;
}

.box1 .s4 h5 {
    position: absolute;
    top: 19%;
    right: 22%;
    font-size: x-large;
    transform: rotate(-45deg);
    text-align: center;
}

.box1 .s5 h5 {
    position: absolute;
    top: 38%;
    right: 16%;
    font-size: x-large;
    transform: rotate(-15deg);
    text-align: center;
}

.box2 .s1 h5 {
    font-size: x-large;
    position: absolute;
    top: 37%;
    right: 70%;
    transform: rotate(200deg);
    text-align: center;
}

.box2 .s2 h5 {
    position: absolute;
    top: 30%;
    right: 60%;
    font-size: x-large;
    transform: rotate(-130deg);
    text-align: center;
}

.box2 .s3 h5 {
    position: absolute;
    top: 15%;
    right: 40%;
    font-size: x-large;
    transform: rotate(270deg);
    text-align: center;
}

.box2 .s4 h5 {
    position: absolute;
    top: 20%;
    right: 15%;
    font-size: x-large;
    transform: rotate(310deg);
    text-align: center;
}

.box2 .s5 h5 {
    position: absolute;
    top: 35%;
    right: 6%;
    font-size: x-large;
    transform: rotate(-20deg);
    text-align: center;
}

audio {
    display: none;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid white;
    background: #1D76E5;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}

.btn:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.main.animate::after {
    animation: animationArrow .7s ease infinite;
}

@keyframes animationArrow {
    50% {
        right: -50px;
    }
}